node_modules/
dist/
.env
.env.*
coverage/
*.log
pnpm-lock.yaml
.DS_Store
.idea/
.vscode/
*.sqlite
*.db
*.local
*.test
*.out
*.csv
*.bak
*.tgz
*.swp
*.tmp
*.pid
*.sublime-workspace
*.sublime-project
*.iml
*.lock
*.cache
*.yarn
*.next
out/
build/
logs/
__pycache__/
db/data/
db/backups/
