# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# VSCode settings
.vscode/

# SQLite database
*.sqlite3
*.db

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints