*       @aht-kydn
apps/auth-service/    @aht-kydn
apps/garage-service/  @aht-kydn
apps/inventory-service/ @aht-kydn
apps/finance-service/ @aht-kydn
apps/frontend-web/    @aht-kydn
apps/mobile-app/      @aht-kydn
apps/notification-service/ @aht-kydn
